@model CSBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<!-- start: page -->


<form asp-action="Create" class="m-0">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row align-items-center mb-3">
        <h2>Create a Ticket</h2>
        <div class="col-lg-7 col-xl-4">
            <input asp-for="Title" type="text" class="form-control form-control-modern" required />

            <h3>Choose a Project</h3>
            <div class="col-sm-9">
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" title="Please select a project">
                    <option></option>
                </select>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">

            <h4 class="mb-3 mt-0 font-weight-semibold text-dark">Ticket Details</h4>
            <section class="card card-transparent">

                <div class="card-body">
                    <section class="card mb-4">
                        <div class="card-body bg-tertiary">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="TicketTypeId">Type</label>
                                    <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="card mb-4">
                        <div class="card-body bg-info">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="TicketPriorityId">Priority</label>
                                    <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="card mb-4">
                        <div class="card-body bg-primary">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="TicketStatusId">Status</label>
                                    <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

        </div>
        <div class="col-lg-7 col-xl-5 mb-4 mb-xl-0">
            <h4 class="mb-3 mt-0 font-weight-semibold text-dark">Ticket Description</h4>

            <div class="tabs">
                <div class="tab-content">
                    <div class="row">
                        <div class="col">
                            <section class="card">
                                <div class="form-group card-body">
                                    <div class="form-group row mb-3 p-2">
                                        <div class="ck-editor__editable_inline form-group">
                                            <textarea asp-for="Description" class="editor form-control"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row action-buttons">
                                        <div class="col-12 col-md-auto">
                                            <button type="submit"
                                                    class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                                                    data-loading-text="Loading...">
                                                <i class="bx bx-save text-4 me-2"></i> Save Ticket
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                                            <a asp-action="Index" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<!-- end: page -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/ckeditor5/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
}
