@model CSBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="col-lg-6">
	<form asp-action="Create" class="form-horizontal">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
					<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
				</div>

				<h2 class="card-title">Create a Ticket</h2>
				<p class="card-subtitle">
					Add a ticket to this project.
				</p>
			</header>
			<div class="card-body">
				<div class="form-group row pb-3">
					<label class="col-sm-3 control-label text-sm-end pt-2" asp-for="Title"></label>
					<div class="col-sm-9">
						<input asp-for="Title" class="form-control" />
					</div>
				</div>
				<div class="form-group row pb-3">
					<label class="col-sm-3 control-label text-sm-end pt-2" asp-for="Description"></label>
					<div class="col-sm-9">
						<textarea asp-for="Description" rows="2" class="form-control" placeholder=""></textarea>
					</div>
					<div class="col-sm-9">
					</div>
				</div>
				<div class="row form-group pb-3">
					<div class="col-lg-4">
						<div class="form-group">
							<label class="col-form-label" asp-for="TicketTypeId">Type</label>
							<select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label class="col-form-label" asp-for="TicketPriorityId">Priority</label>
							<select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label class="col-form-label" asp-for="TicketStatusId">Status</label>
							<select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
						</div>
					</div>
				</div>
				<div class="form-group row pb-2">
					<label class="col-sm-3 control-label text-sm-end pt-2" asp-for="DeveloperUserId">Developer</label>
					<div class="col-sm-9">
						<select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId" title="Please select a developer">
							<option></option>
						</select>
					</div>
				</div>
			</div>
			<footer class="card-footer">
				<div class="row justify-content-end">
					<div class="col-sm-9">
						<button class="btn btn-primary me-2">Submit</button>
						<button type="reset" class="btn btn-default me-2">Reset</button>
						<a class="btn btn-warning" asp-action="Index">Back to List</a>
					</div>
				</div>
			</footer>
		</section>
	</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



                @*  
                    Row 1: Title
                    Row 2: Description area - 2 rows
                    Row 3: Type, Priority, Status
                    Row 4: Developer select
                *@