
.ck-editor__editable_inline {
    min-height: 600px;
}

.ck-editor__editable_inline_comment {
    min-height: 200px;
}

.square-img-container {
    position: relative;
    background-color: var(--cf-primaryColorLight);
    border-color: var(--cf-light-gray);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}